.who-delivers {
  background: url("img/top-hero.jpg") no-repeat center center;
  background-size: cover;
}

.in-home-hero {
  background: "public/img/inhome.png" no-repeat center center;
  background-size: cover;
}